@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
body {
  background: #fff;
  color: #212529;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  background: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  z-index: 1;
}

/* --- Common Styles ---*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: #047AED;
}

::-webkit-scrollbar {
  display: none;
}

/* -----helper classes----- */
.container-s {
  max-width: 920px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
}

.container-m {
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

/* -----navbar styling----- */
.navbar {
  font-family: 'Montserrat', sans-serif;
  background-color: #FFFFFF;
  border-bottom: 1px solid #EFEFF1;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.navbar .brand-logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #333347;
  vertical-align: middle;
  cursor: pointer;
}

.navbar .nav-item {
  text-transform: capitalize;
}

.navbar .nav-item .nav-link {
  color: #333347;
  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
}

.navbar .nav-item .nav-link:hover {
  background-color: #FFFFFF;
  color: #333347;
}

.btn-nav {
  color: #FFFFFF;
  background: #047aed;
  text-transform: uppercase;
  cursor: pointer;
  margin: auto;
  padding: 0px 30px;
  border-radius: 20px;
}

.btn-nav:hover {
  background-color: #047aed;
  color: #FFFFFF;
}

/* general section css */
.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 3rem;
  font-weight: 700;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  position: relative;
  display: inline-block;
  /* color: #c2b7b1; */
}

/* -----Hero Section Styling----- */
.home {
  background-color: #F7F7F8;
  padding-bottom: 50px;
}

.home .hero-content {
  position: relative;
  padding: 0px;
}

@media only screen and (min-width: 640px) {
  .home .hero-content {
    padding: 25px 0 0 0;
  }
}

.home h1 {
  font-size: 42px;
  font-weight: 300;
  color: #252525;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.home p {
  font-size: 18px;
  font-weight: 400;
  color: #818198;
  max-width: 630px;
  margin: 0 auto;
  letter-spacing: 0;
  line-height: 1.6em;
  margin-bottom: 1.68rem;
}

.home .hero-list ul {
  list-style-type: none;
  text-align: center;
}

.home .hero-list ul li {
  display: inline;
  margin: 0 20px;
}

.home .hero-list ul li img {
  width: 65px;
  height: auto;
  opacity: 0.6;
  cursor: pointer;
}

.cate-search-form {
  position: absolute;
  width: 90%;
  margin-left: 5%;
  background-color: white;
  border-radius: 50px;
  padding: 10px 10px 10px 20px;
  border: 1px solid #dfdfdf;
  -webkit-box-shadow: 0 4px 22px -10px rgba(0, 0, 0, 0.42);
          box-shadow: 0 4px 22px -10px rgba(0, 0, 0, 0.42);
}

.cate-search-form div {
  float: left;
  padding: 0px 5px;
}

.cate-search-form div:nth-child(1) {
  width: 45%;
}

.cate-search-form div:nth-child(2) {
  width: 45%;
}

.cate-search-form div:nth-child(3) {
  width: 10%;
}

.cate-search-form .input-field input[type=text] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #047aed;
  background: #fff;
  font-size: 16px;
  border-radius: 50px;
  margin: 0px;
  padding-left: 50px;
  color: #6d48e5;
}

.cate-search-form ::-webkit-input-placeholder {
  color: black;
}

.cate-search-form :-ms-input-placeholder {
  color: black;
}

.cate-search-form ::-ms-input-placeholder {
  color: black;
}

.cate-search-form ::placeholder {
  color: black;
}

.cate-search-form .near_b {
  position: absolute;
  top: 7px;
  left: 20px;
  background: #97a4a7;
  border-radius: 15px;
  font-size: 13px;
  padding: 5px 8px;
  cursor: pointer;
  color: #20344c;
}

.form-note p {
  margin-top: 130px;
  font-size: 12px;
}

/*----- feature section -----*/
.features .feature-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.features .feature-block .feature-img {
  width: 100px;
  height: 100px;
  margin: 12px;
  background-color: #F7F7F8;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features .feature-block .feature-img img {
  width: 70px;
  height: 70px;
}

.features .feature-block .feature-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.features .feature-block .feature-content p {
  margin: 12px;
}

/*----- pricing section -----*/
.pricing {
  background-color: #F7F7F8;
}

.pricing .section-title p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: #8B92AB;
  margin-top: 10px;
  margin-bottom: 50px;
}

.pricing .table-left, .pricing .table-right {
  text-align: center;
  padding: 15%;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: white;
  border: transparent;
  max-width: 400px;
}

.pricing .table-left h3, .pricing .table-right h3 {
  font-size: 21px;
  font-weight: 600;
  color: #505050;
  margin-bottom: 15px;
}

.pricing .table-left .pricing-details span, .pricing .table-right .pricing-details span {
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 42px;
  font-weight: 300;
  color: #505050;
}

.pricing .table-left button, .pricing .table-right button {
  padding: 0 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 25px 0;
  text-transform: uppercase;
  border-radius: 50px;
}

.pricing .table-left button {
  background-color: #047aed;
  color: white;
}

.pricing .table-right {
  background-color: #047aed;
  color: white;
}

.pricing .table-right h3 {
  color: #FFFFFF;
}

.pricing .table-right .pricing-details span {
  color: white;
}

.pricing .table-right button {
  background-color: white;
  color: #047aed;
}

/*----- about us section -----*/
.about-us .about-us-block {
  text-align: center;
}

.about-us .about-us-block img {
  width: 100px;
}

/* brand section */
#brand-section {
  background-image: url("../img/pgbg_1.jpg");
  background-size: cover;
  padding: 4rem;
}

.brand-container {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.brand-container .slide {
  border: 1px solid rgba(32, 31, 31, 0.8);
  background-color: white;
}

.brand-container img {
  width: 100%;
  height: 80%;
}

.brand-container .slick-slide {
  margin: 1.5rem;
  padding: 1.5rem;
}

.brand-container .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

.brand-container .slick-dots li {
  margin: 0 0.6rem;
}

.brand-container .slick-dots button {
  display: block;
  border: 0.1rem solid rgba(32, 31, 31, 0.2);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  padding: 0;
  text-indent: -9999px;
}

.brand-container .slick-dots .slick-active button {
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-box-shadow: 0px 3px 5px 1px #1a1818;
          box-shadow: 0px 3px 5px 1px #1a1818;
}

/* testimonials */
.bg_content {
  background-image: url("../img/testi.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonials {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(32, 31, 31, 0.2);
}

.testimonials .carousel {
  padding: 0px 10px 40px 10px;
}

.testimonials .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.testimonials .carousel-item {
  padding: 15px 0px;
  font-family: Georgia, cursive;
  font-style: italic;
  font-size: 24px;
  text-align: center;
  color: black;
}

.testimonials .carousel-item blockquote {
  font-size: 24px;
  text-align: center;
  line-height: 28px;
}

.testimonials .carousel-item small img {
  width: 75px;
  height: 75px;
}

/* footer */
.footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
  background-color: #303c42;
}

.footer h3.title {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 35px;
  position: relative;
  text-transform: capitalize;
}

.footer h3.title::after {
  content: "";
  position: absolute;
  background-color: #f64b3c;
  height: 2px;
  width: 40px;
  left: 0;
  bottom: -15px;
  margin-top: 0px;
}

.footer-widget .footer-contact {
  margin-top: 20px;
}

.footer-widget .footer-contact li {
  margin-bottom: 18px;
  font-size: 16px;
}

.footer-widget .footer-contact li i {
  padding-right: 18px;
}

.footer-widget .footer-social li {
  display: inline-block;
}

.footer-widget .footer-social li a {
  display: inline-block;
  border: 1px solid white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
}

.footer-widget .footer-social li a span {
  color: white;
}

.footer-widget.quick-links ul li {
  margin-bottom: 8px;
}

.footer-widget.quick-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  padding-left: 15px;
  padding-bottom: 6px;
}

.footer-widget.quick-links ul li a::before {
  color: #047aed;
  content: '\f105';
  font-family: "FontAwesome";
  position: absolute;
  top: 2px;
  left: 0px;
  font-size: 14px;
  line-height: 16px;
}

.footer-widget.quick-links ul li a:hover {
  color: #97a6b5;
}

/* contact us  */
.contact .info {
  padding: 30px;
  border-top: 4px solid;
  border-bottom: 4px solid;
  border-color: #eb5d1e;
  -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  color: #eb5d1e;
  background-color: #fdf1ec;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .info h4 {
  padding-left: 60px;
  width: 100%;
}

.contact .info p {
  padding: 0px 0px 15px 60px;
  margin-bottom: 20px;
  color: #ab9d95;
}

.contact .contact-form {
  padding: 30px;
  border-top: 4px solid;
  border-bottom: 4px solid;
  border-color: #eb5d1e;
  -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .contact-form button {
  border: 0px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #eb5d1e;
  color: white;
}

.page-title {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  text-align: center;
  color: white;
}

.page-title h1 {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
}

.about-bg {
  background-image: url(../img/stickies-2852375_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 450px;
  position: relative;
}

.about-bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.who-we-are {
  background-color: #f1f1f1;
  padding: 50px 0px;
}

.what-we-do {
  padding: 10px 0px;
  background-color: #f1f1f1;
}

.what-we-do .what-we-do-container {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

.what-we-do .what-we-do-container h5 {
  padding-top: 10px;
}

.how-we-do {
  padding: 10px 0px;
  background-color: #f1f1f1;
}

.how-we-do .how-we-do-container {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

.how-we-do .how-we-do-container h5 {
  padding-top: 10px;
}

.summary {
  padding: 10px 0px;
  background-color: #f1f1f1;
}

.summary .summary-container {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

.summary .summary-container p {
  text-align: center;
}

.career-bg {
  background-image: url("../img/career/career-1.png");
  background-size: 100% 40vh;
  background-repeat: no-repeat;
  min-height: 40vh;
  position: relative;
}

.career-bg .career-title {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  padding-left: 150px;
  color: white;
  text-transform: uppercase;
}

.career-bg .career-title h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.career-form {
  min-height: 60vh;
  padding: 15px 0px;
  color: white;
  background: #008edd;
}

.career-form .resume-form-title {
  text-align: center;
  font-family: cursive;
}

.career-form label {
  width: 100%;
  margin: 0;
}

.career-form input.resume-input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  background: transparent;
  color: #01FF70;
}

.career-form ::-webkit-input-placeholder {
  color: #c9e2e2;
}

.career-form :-ms-input-placeholder {
  color: #c9e2e2;
}

.career-form ::-ms-input-placeholder {
  color: #c9e2e2;
}

.career-form ::placeholder {
  color: #c9e2e2;
}

.career-form .resume-submit {
  overflow: hidden;
  float: right;
  color: white;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 10px 25px;
  cursor: pointer;
}

.career-form .resume-submit:hover {
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 100%);
}

.career-form .error-message {
  color: orange;
}

.career-form input:-webkit-autofill,
.career-form input:-webkit-autofill:hover,
.career-form input:-webkit-autofill:focus,
.career-form textarea:-webkit-autofill,
.career-form textarea:-webkit-autofill:hover,
.career-form textarea:-webkit-autofill:focus,
.career-form select:-webkit-autofill,
.career-form select:-webkit-autofill:hover,
.career-form select:-webkit-autofill:focus {
  -webkit-text-fill-color: #b0fafa;
  box-shadow: 0 0 0 0 transparent inset;
  -webkit-box-shadow: 0 0 0 0 transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.career-form input[type="number"]::-webkit-outer-spin-button,
.career-form input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.career-form input[type="number"] {
  -moz-appearance: textfield;
}

.list-with-us-bg {
  background-image: url("../img/list-bg.jpg");
  width: 100%;
  height: 40vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 40vh;
  position: relative;
}

.list-with-us-bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.list-with-us-bg .list-us-title {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  padding-left: 150px;
  color: white;
  text-transform: uppercase;
}

.list-with-us-bg .list-us-title h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.list-form {
  min-height: 60vh;
  padding: 15px 0px;
  color: white;
  background: #008edd;
}

.list-form .list-form-title {
  text-align: center;
  font-family: cursive;
}

.list-form label {
  width: 100%;
  margin: 0;
}

.list-form .list-input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  background: transparent;
  color: #01FF70;
}

.list-form ::-webkit-input-placeholder {
  color: #c9e2e2;
}

.list-form :-ms-input-placeholder {
  color: #c9e2e2;
}

.list-form ::-ms-input-placeholder {
  color: #c9e2e2;
}

.list-form ::placeholder {
  color: #c9e2e2;
}

.list-form .list-form-submit {
  overflow: hidden;
  color: white;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 10px 25px;
  cursor: pointer;
}

.list-form .list-form-submit:hover {
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 100%);
}

.list-form .error-message {
  color: #E7FF47;
}

.list-form input:-webkit-autofill,
.list-form input:-webkit-autofill:hover,
.list-form input:-webkit-autofill:focus,
.list-form textarea:-webkit-autofill,
.list-form textarea:-webkit-autofill:hover,
.list-form textarea:-webkit-autofill:focus,
.list-form select:-webkit-autofill,
.list-form select:-webkit-autofill:hover,
.list-form select:-webkit-autofill:focus {
  -webkit-text-fill-color: #b0fafa;
  box-shadow: 0 0 0 0 transparent inset;
  -webkit-box-shadow: 0 0 0 0 transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
/*# sourceMappingURL=styles.css.map */