@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    background: #fff;
    color: #666666;
    /* font-family: ; */
    width: 100%;
    /* padding-top: 70px; */
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

/* header */
#header {
    background-color: rgba(255, 255, 255, 0.6);
    position: fixed;
    padding: 5px 0;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    color: rgb(26, 24, 24);
}

#header .logo {
    margin-right: 50px;
    float: left;
}

#header .logo img{
    height: 53px;
}

#nav-container {
    
}

.nav-menu {
    list-style: none;
}

.nav-menu li {
    float: left;
    margin-left: 1px;
}

.nav-menu li a {
    padding: 12px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(26, 24, 24);
    font-weight: 700;
}

#header .search {
    background: none;
    outline: 0px;
    border: 0px;
    cursor: pointer;
}

#header .input {
  }

#header .login-link {
    float: right;
    margin-right: 10%;
}
#header .login-link a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(26, 24, 24);
    font-weight: 700;
}
/* end header */

/* general section css */
.section-title {
    text-align: center;
    padding-bottom: 30px;
    
}
.section-title h2 {
    font-size: 2rem;
    font-weight: 700;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: inline-block;
    /* color: #c2b7b1; */
}
.section-title h2::after {
    content: "";
    position: absolute;
    background-color: rgb(246, 75, 60);
    height: 0.2rem;
    width: 50%;
    left: 25%;
    bottom: -15px;
    margin-top: 0px;
}



/* intro Carousel */

#introCarousel {
    position: relative;
}

#introCarousel .search-section {
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-bottom: 0px;
    padding: 2rem 0px;
    z-index: 1;
}

#introCarousel .search-section .search-container {
    width: 100%;
    background: white;
    border-radius: 30px;
}



#introCarousel .carousel-item {
    height: 100vh;
    width: 100%;
    background-size: cover;
}

#introCarousel .search-section .search-container .select-srch {
    height: 4rem;
    font-size: 1.4em;
    border: 0;
    color: #777778;
    width: 100%;
    appearance: none;
}
#introCarousel .search-section .search-container .borderRight {
    border-right: 1px solid #cecbcb;
}
#introCarousel .search-section .search-container i {
    padding-right: 5px;
    font-size: 18px;
}
#introCarousel .search-section .search-container button {
    border-radius: 50%;
    border: 1px solid rgb(246, 75, 60);
    background-color: rgb(246, 75, 60);
    color: white;
}


 /* brand section */
 #brand-section {
    background-image: url("../img/pgbg_1.jpg");
    background-size: cover;
    padding: 4rem;
 }

.brand-container {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:rgba(255, 255, 255, 0.8) ;
}

.brand-container .slide{
    
    border: 1px solid rgba(32, 31, 31, 0.8) ;
    background-color: white;
}

.brand-container img {
    width: 100%;
    height: 80%;
}

.brand-container .slick-slide {
    margin:1.5rem;
    padding: 1.5rem;
}

.brand-container .slick-dots {
    display: flex;
    justify-content: center;
    list-style-type: none;

}
.brand-container .slick-dots li {
    margin: 0 0.6rem;
}
.brand-container .slick-dots button {
    display: block;
    border: 0.1rem solid rgba(32, 31, 31, 0.2);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    padding: 0;
    text-indent: -9999px;
}

.brand-container .slick-dots .slick-active button{
    transform: scale(2);
    box-shadow: 0px 3px 5px 1px rgb(26, 24, 24);
}


/* testimonials */
.bg_content{
    background-image: url('../img/testi.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.testimonials{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(32, 31, 31, 0.2);
}

.testimonials .carousel {
    padding: 0px 10px 40px 10px;
}

.testimonials .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.testimonials .carousel-item {
    padding: 15px 0px;
    font-family: Georgia, cursive;
    font-style: italic;
    font-size: 24px;
    text-align: center;
    color: black;
}

.testimonials .carousel-item blockquote {
    font-size: 24px;
    text-align: center;
    line-height: 28px;
}

.testimonials .carousel-item small img {
    width: 75px;
    height: 75px;
}

/* footer */
.footer {
    padding: 90px 0px 50px;
    background-color: rgb(239, 254, 255);
}
.footer h3.title {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 35px;
    position: relative;
    text-transform: capitalize;
}
.footer h3.title::after {
    content: "";
    position: absolute;
    background-color: rgb(246, 75, 60);
    height: 2px;
    width: 40px;
    left: 0;
    bottom: -15px;
    margin-top: 0px;
}
.footer .footer-widget.quick-links ul li{
    /* border-bottom: 1px dashed #454545; */
    margin-bottom: 8px;
}
.footer .footer-widget.quick-links ul li a{
    color: #8f8484;
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    display: block;
    position: relative;
    padding-left: 15px;
    padding-bottom: 6px;
}
.footer .footer-widget.quick-links ul li a:before {
    color: blue;
    content: '\f105';
    font-family: "FontAwesome";
    position: absolute;
    top: 2px;
    left: 0px;
    font-size: 14px;
    line-height: 16px;
}
.footer .footer-widget.quick-links ul li a:hover {
    color: rgb(246, 75, 60);
}


/* contact us  */

.contact .info {
    padding: 30px;
    border-top: 4px solid;
    border-bottom: 4px solid;
    border-color: #eb5d1e;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12)
}

.contact .info i {
    display: flex;
    float: left;
    color: #eb5d1e;
    background-color:#fdf1ec ;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}

.contact .info h4 {
    padding-left: 60px;
    width: 100%;
}
.contact .info p {
    padding: 0px 0px 15px 60px;
    margin-bottom: 20px;
    color: #ab9d95;
}

.contact .contact-form {
    padding: 30px;
    border-top: 4px solid;
    border-bottom: 4px solid;
    border-color: #eb5d1e;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12)
}

.contact .contact-form button {
    border: 0px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color:  #eb5d1e;
    color: white;
}
