@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body{
    background: #fff;
    color: #212529;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    background: #fff;
    flex: 1 0 auto;
    z-index: 1;
}
/* --- Common Styles ---*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.dropdown-content li>a,.dropdown-content li>span {
    color: #047AED;
}

::-webkit-scrollbar {
	display: none;
}


/* -----helper classes----- */


.container-s {
	max-width: 920px;
	margin: 0 auto;
	padding-left: 40px;
	padding-right: 40px;
	position: relative;
}

.container-m {
	max-width: 1024px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}

.justify-end {
    justify-content: flex-end;
}



/* -----navbar styling----- */

.navbar {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF;
    border-bottom: 1px solid #EFEFF1;
    box-shadow: none;
    transition: 0.5s all ease;
    .brand-logo {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0px;
        color: #333347 ;
        vertical-align: middle;
        cursor: pointer;
    }
    .nav-item {
        text-transform: capitalize;
        .nav-link {
            color: #333347;
            font-size: 0.85rem;
            font-weight: 500;
            cursor: pointer;
            &:hover {
                background-color: #FFFFFF;
                color: #333347;
            }
        }
    }
}
.btn-nav {
    color: #FFFFFF;
    background: #047aed;
    text-transform: uppercase;
    cursor: pointer;
    margin: auto;
    padding: 0px 30px;
    border-radius: 20px;
    &:hover {
        background-color: #047aed;
        color: #FFFFFF;
            }
}

/* general section css */
.section-title {
    text-align: center;
    padding-bottom: 30px;
    h2 {
        font-size: 3rem;
        font-weight: 700;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        position: relative;
        display: inline-block;
        /* color: #c2b7b1; */
    }
    // h2::after {
    //     content: "";
    //     position: absolute;
    //     background-color: rgb(246, 75, 60);
    //     height: 0.2rem;
    //     width: 50%;
    //     left: 25%;
    //     bottom: -15px;
    //     margin-top: 0px;
    // }
    
}

/* -----Hero Section Styling----- */

.home {
    background-color: #F7F7F8;
    padding-bottom: 50px;
    .hero-content {
        position: relative;
        padding: 0px;
        @media only screen and (min-width: 640px){
            padding: 25px 0 0 0;
        }
    }
    h1 {
        font-size: 42px;
        font-weight: 300;
        color: #252525;
        line-height: 1.2;
        letter-spacing: -0.02em;
    }
    
    p {
        font-size: 18px;
        font-weight: 400;
        color: rgb(129, 129, 152);
        max-width: 630px;
        margin: 0 auto;
        letter-spacing: 0;
        line-height: 1.6em;
        margin-bottom: 1.68rem;
    }
    .hero-list ul {
        list-style-type: none;
        text-align: center;
        li {
            display: inline;
            margin: 0 20px;
            img {
                width: 65px;
                height: auto;
                opacity: 0.6;
                cursor: pointer;
            }
        }
    }
}

.cate-search-form {
    position: absolute;
    width: 90%;
    margin-left: 5%;
    background-color: white;
    border-radius: 50px;
    padding: 10px 10px 10px 20px;
    border: 1px solid #dfdfdf;
    box-shadow: 0 4px 22px -10px rgba(0,0,0,.42);
    div{
        float: left;
        padding: 0px 5px;
        &:nth-child(1){
            width: 45%;
        }
        &:nth-child(2){
            width: 45%;
        }
        &:nth-child(3){
            width: 10%;
        }
    }
    .input-field input[type=text] {
        box-sizing: border-box;
        border: 1px solid #047aed;
        background: #fff;
        font-size: 16px;
        border-radius: 50px;
        margin: 0px;
        padding-left: 50px;;
        color: #6d48e5;
    }
    ::placeholder {
        color: black;
    }
    .near_b {
        position: absolute;
        top: 7px;
        left: 20px;
        background: #97a4a7;
        border-radius: 15px;
        font-size: 13px;
        padding: 5px 8px;
        cursor: pointer;
        color: #20344c;
    }
}

.form-note p {
    margin-top: 130px;
	font-size: 12px;
}

/*----- feature section -----*/
.features {
    .feature-block {
        display: flex;
        flex-direction: row;
        .feature-img {
            width: 100px;
            height: 100px;
            margin: 12px;
            background-color: #F7F7F8;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 70px;
                height: 70px;
            }
        }
        .feature-content {
            display: flex;
            align-items: center;
            width: 80%;
            p {
                margin: 12px;
            }
        }
    }
}

/*----- pricing section -----*/
.pricing {
    background-color: #F7F7F8;
    .section-title p{
        font-size: 16px;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: 0.01em;
        color: #8B92AB;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .table-left,.table-right {
        text-align: center;
        padding: 15%;
        margin: 0 auto;
        margin-bottom: 30px;
        background-color: white;
        border: transparent;
        max-width: 400px;
        h3 {
            font-size: 21px;
            font-weight: 600;
            color: #505050;
            margin-bottom: 15px;
        }
        .pricing-details span {
            display: inline-block;
            font-family: 'Open Sans';
            font-size: 42px;
            font-weight: 300;
            color: #505050;
        }
        button {
            padding: 0 30px;
            font-weight: 600;
            letter-spacing: 1px;
            margin: 25px 0;
            text-transform: uppercase;
            border-radius: 50px;
        }
    }
    .table-left {
        button {
            background-color: #047aed;
            color: white;
        }
    }
    .table-right {
        background-color: #047aed;
        color: white;
        h3 {
            color: #FFFFFF
        }
        .pricing-details span {
            color: white;
        }
        button {
            background-color: white;
            color: #047aed;
        }
    }
}

/*----- about us section -----*/
.about-us {
    .about-us-block {
        text-align: center;
        img {
            width: 100px;
        }
    }
}

 /* brand section */
 #brand-section {
    background-image: url("../img/pgbg_1.jpg");
    background-size: cover;
    padding: 4rem;
 }

.brand-container {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:rgba(255, 255, 255, 0.8) ;
}

.brand-container .slide{
    
    border: 1px solid rgba(32, 31, 31, 0.8) ;
    background-color: white;
}

.brand-container img {
    width: 100%;
    height: 80%;
}

.brand-container .slick-slide {
    margin:1.5rem;
    padding: 1.5rem;
}

.brand-container .slick-dots {
    display: flex;
    justify-content: center;
    list-style-type: none;

}
.brand-container .slick-dots li {
    margin: 0 0.6rem;
}
.brand-container .slick-dots button {
    display: block;
    border: 0.1rem solid rgba(32, 31, 31, 0.2);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    padding: 0;
    text-indent: -9999px;
}

.brand-container .slick-dots .slick-active button{
    transform: scale(2);
    box-shadow: 0px 3px 5px 1px rgb(26, 24, 24);
}


/* testimonials */
.bg_content{
    background-image: url('../img/testi.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.testimonials{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(32, 31, 31, 0.2);
}

.testimonials .carousel {
    padding: 0px 10px 40px 10px;
}

.testimonials .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.testimonials .carousel-item {
    padding: 15px 0px;
    font-family: Georgia, cursive;
    font-style: italic;
    font-size: 24px;
    text-align: center;
    color: black;
}

.testimonials .carousel-item blockquote {
    font-size: 24px;
    text-align: center;
    line-height: 28px;
}

.testimonials .carousel-item small img {
    width: 75px;
    height: 75px;
}

/* footer */
.footer {
    position: sticky;
    bottom: 0;
    left: 0;
    background-color: #303c42;
    h3.title {
        font-size: 20px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 35px;
        position: relative;
        text-transform: capitalize;
        // &::after {
        //     content: "";
        //     position: absolute;
        //     background-color: rgb(246, 75, 60);
        //     height: 2px;
        //     width: 40px;
        //     left: 0;
        //     bottom: -15px;
        //     margin-top: 0px;
        // }
    }
}
.footer-widget .footer-contact {
    margin-top: 20px;
}
.footer-widget .footer-contact li {
    margin-bottom: 18px;
    font-size: 16px;
    i {
        padding-right: 18px;
    }
}
.footer-widget .footer-social li{
    display: inline-block;
    a {
        display: inline-block;
        border: 1px solid white;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
        line-height: 30px;
        span {
            color: white;
        }
    }
}
.footer-widget.quick-links ul li{
    margin-bottom: 8px;
    a{
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 16px;
        line-height: 22px;
        font-family: 'Roboto', sans-serif;
        position: relative;
        // padding-left: 15px;
        padding-bottom: 6px;
        // &::before {
        //     color: #047aed;
        //     content: '\f105';
        //     font-family: "FontAwesome";
        //     position: absolute;
        //     top: 2px;
        //     left: 0px;
        //     font-size: 14px;
        //     line-height: 16px;
        // }
        &:hover {
            color: #97a6b5;
        }
    }
}

/* contact us  */

.contact .info {
    padding: 30px;
    border-top: 4px solid;
    border-bottom: 4px solid;
    border-color: #eb5d1e;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12)
}

.contact .info i {
    display: flex;
    float: left;
    color: #eb5d1e;
    background-color:#fdf1ec ;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}

.contact .info h4 {
    padding-left: 60px;
    width: 100%;
}
.contact .info p {
    padding: 0px 0px 15px 60px;
    margin-bottom: 20px;
    color: #ab9d95;
}

.contact .contact-form {
    padding: 30px;
    border-top: 4px solid;
    border-bottom: 4px solid;
    border-color: #eb5d1e;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12)
}

.contact .contact-form button {
    border: 0px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color:  #eb5d1e;
    color: white;
}

// general for page //
.page-title {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    transform: translate(0%,-50%);
    text-align: center;
    color: white;
    h1 {
        font-size: 50px;
        font-weight: 700;
        margin: 0;
    }
}

@import 'about';
@import 'career';
@import 'list-with-us'